{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "no-console": "warn"
  }
}
